<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Vue3 Chat With Yourself</title>
  </head>
  <body>
    <div id="chat">
      <div class="message" v-for="message in messages">
        <span v-bind:style="{ color: message.color}">
          <span class="name">{{ message.name }}</span>: <span class="body">{{ message.text }}</span> <span class="time">{{ message.time }}</span>
        </span>
      </div>
      <input id="message_text" v-on:keyup.enter="postMessage" type="text" v-model="newMessage">
      <button v-on:click="postMessage">Post Message</button>
    </div>
  </body>

  <script>
    const Chat = {
      data() {
        return {
          newMessage: '',
          name: 'Kehavrl',
          color: '#c0c0c0',
          messages: []
        }
      },
      mounted() {
        setInterval(() => {
          true;
        }, 1000)
      },
      methods: {
        postMessage() {
            this.messages.push({name: this.name, color: this.color, text: this.newMessage});
          this.newMessage = '';
          message_text.focus();
        }
      }
    };

    Vue.createApp(Chat).mount('#chat');
  </script>
</html>
