<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Vue3 Hello</title>
    
  </head>
  <body>
    <div id="counter">
      Counter: {{ counter }}
    </div>
    <div id="bind-attribute">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound
        title!
      </span>
    </div>
    <div id="event-handling">
      <p>{{ message }}</p>
      <input type="text" v-model="message">
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="conditional-rendering">
      <span v-if="seen">Now you see me</span>
      <button v-on:click="magic">Magic</button>
    </div>
    <div id="list-rendering">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <div id="app">
      <p>{{ foo }}</p>
      <button v-on:click="foo = 'baz'">Change It</button>
    </div>
  </body>

  <script>
    const Counter = {
      data() {
        return {
          counter: 0
        }
      },
      mounted() {
        setInterval(() => {
          this.counter++
        }, 1000)
      }
    };

    const AttributeBinding = {
      data() {
        return {
          message: 'You loaded this page on ' + new Date().toLocaleString()
        }
      }
    };

    const EventHandling = {
      data() {
        return {
          message: 'Hello Vue.js!'
        }
      },
      methods: {
        reverseMessage() {
          this.message = this.message
            .split('')
            .reverse()
            .join('')
        }
      }
    }

    const ConditionalRendering = {
      data() {
        return {
          seen: true
        }
      },
      methods: {
        magic() {
          this.seen = !this.seen
        }
      }
    }

    const ListRendering = {
      data() {
        return {
          todos: [
            { text: 'Learn JavaScript'},
            { text: 'Learn Vue'},
            {text: 'Build Something Awesome'}
          ]
        }
      }
    }

    const obj = {
      foo: 'bar'
    }

    Object.freeze(obj);

    const vm = Vue.createApp({
      data() {
        return obj
      }
    }).mount('#app');

    Vue.createApp(Counter).mount('#counter');
    Vue.createApp(AttributeBinding).mount('#bind-attribute');
    Vue.createApp(EventHandling).mount('#event-handling');
    Vue.createApp(ConditionalRendering).mount('#conditional-rendering');
    Vue.createApp(ListRendering).mount('#list-rendering');
  </script>
</html>
